messy_data_proj/.idea/discord.xml
messy_data_proj/.idea/messy_data_proj.iml
messy_data_proj/.idea/misc.xml
messy_data_proj/.idea/inspectionProfiles/profiles_settings.xml
messy_data_proj/.idea/vcs.xml
messy_data_proj/.idea/modules.xml
messy_data_proj/.idea/workspace.xml
